.note {
    width: 25%;
    height: 300px;
    border: 2px solid #7c7474;
    border-radius: 10px;
    margin: 10px 0;
    overflow: hidden;
}

.title {
    height: 15%;
    width: 100%;
    background-color: rgb(245, 176, 48);
    padding: 0 10px;
    padding-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.desc {
    height: 70%;
    width: 100%;
    padding: 0 10px;
    padding-top: 5px;
    background-color: white;
    text-align: justify;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 9;
    text-overflow: ellipsis;
    overflow: hidden;
}

.icons {
    height: 15%;
    width: 100%;
    align-self: flex-end;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(252, 221, 181);
    padding: 0 10px;
}

.icons button {
    border: none;
    cursor: pointer;
    background: none;
    text-decoration: none;

}

.icons .hovertext {
    position: relative;
    border-bottom: 1px dotted black;
}

.icons .hovertext:before {
    content:  attr(data-hover);
    visibility: hidden;
    opacity: 0;
    width: 80px;
    background-color: rgb(233, 159, 21);
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px 0;
    transition: opacity 1s ease-in-out;
    position: absolute;
    z-index: 1;
    left: -30%;
    top: -150%;
}

.icons .hovertext:hover:before {
    opacity: 1;
    visibility: visible;
}


.icons button i {
    display: flex;
    justify-content: center;
    font-size: 20px;
    width: 40px;
    height: 100%;

}